@keyframes svg-scale-up {
  0% {
	transform: scale(0);
  }
  100% {
	transform: scale(1);
  }
}

@keyframes svg-scale-down {
	0% {
		transform: scale(1.7);
	}
	100% {
		transform: scale(1);
	}
}

@keyframes slide-in {
	0% {
		transform: translateX(-150px);
		animation-timing-function: ease-out;
		opacity: 0;
	}
	100% {
		transform: translateY(0);
		opacity: 1;
	}
}

// Only show the logo anim on the homepage
.home {

	.circle-tl {
		transform: scale(0);
		animation: svg-scale-up 1.1s cubic-bezier(0,1.21,.94,-0.18) forwards;
		transform-origin: 19.675px 19.675px;
	}
	
	.circle-br {
		transform: scale(0);
		animation: svg-scale-up 1.1s cubic-bezier(.28,1.33,.89,.22) forwards;
		transform-origin: 59px 59px;
		animation-delay: 0.2s;
	}
	
	.circle-tr {
		transform: scale(0);
		animation: svg-scale-up 1.1s cubic-bezier(.3,1.21,.89,-0.46) forwards;
		transform-origin: 59px 19.675px;
		animation-delay: 0.4s;
	}
	
	.circle-bl {
		transform: scale(0);
		animation: svg-scale-up 1.1s cubic-bezier(0,1.42,1,-0.53) forwards;
		transform-origin: 19.675px 59px;
		animation-delay: 0.3s;
	}
	
	// .logo-diamond {
	// 	fill: var(--color-white);
	// 	transform: scale(0);
	// 	animation: svg-scale-up 0.2s ease-in-out forwards;
	// 	transform-origin: 39.351px 39.351px;
	// }
	
	.logo-text {
		animation: slide-in 0.3s ease-in-out forwards;
		animation-delay: 2s;
		opacity: 0;
	}
	
	.logo-square {
		transform: scale(0);
		animation: svg-scale-down 0.25s ease-in-out forwards;
		animation-delay: 1.8s;
		transform-origin: 39.351px 39.351px;
	}

}