{% extends "/main" %}

{% if entry.seoTitle %}
	{% set title = entry.seoTitle %}
{% else %}
	{% set title = entry.title %}
{% endif %}
{% if entry.seoDescription %}
	{% set seoDescription = entry.seoDescription %}
{% endif %}
{% if entry.seoKeywords %}
	{% set seoKeywords = entry.seoKeywords %}
{% endif %}

{% block main %}

<div class="container max-width-lg padding-y-lg">
	
		
		{# <div class="col-11@sm col-10@md offset-1@lg"> #}
			<h1 class="text-xxxxl reveal-fx" data-reveal-fx-delta="50">{{ entry.heading }}</h1>
		
	
</div>

{% include '_includes/pageBuilder' %}
	
{% endblock %}