{% extends "/main" %}

{% if entry.seoTitle %}
	{% set title = entry.seoTitle %}
{% else %}
	{% set title = entry.title %}
{% endif %}
{% if entry.seoDescription %}
	{% set seoDescription = entry.seoDescription %}
{% endif %}
{% if entry.seoKeywords %}
	{% set seoKeywords = entry.seoKeywords %}
{% endif %}

{% block main %}

{% set event = entry.linkedEvent.all() %}

{# <div class="container max-width-lg padding-y-lg"> #}	
	{# <div class="col-11@sm col-10@md offset-1@lg"> #}
	{# <h1 class="text-xxxxl reveal-fx" data-reveal-fx-delta="50">{{ entry.heading }}</h1> #}
		
{% if event | length %}
	{% for entry in event %}
	
	{% include '_includes/events' %}
	
	{% endfor %}
{% endif %}

{% include '_includes/pageBuilder' %}
	
{% endblock %}