<div class="container max-width-lg padding-bottom-md{% if block.extraBottomPadding %} padding-bottom-xl{% endif %}">
	<div class="text-xxxxl reveal-fx" data-reveal-fx-delta="50">{{ block.heading }}</div>
</div>