<div class="container max-width-md padding-bottom-md{% if block.extraBottomPadding %} padding-bottom-xl{% endif %}">
	{% if block.heading %}
		<div class="text-xxl text-bold margin-bottom-xs">{{ block.heading }}</div>
	{% endif %}
	
	<div class="text-component line-height-lg v-space-lg">
		{{ block.body }}
	</div>
</div>