<div class="container max-width-md padding-bottom-md{% if block.extraBottomPadding %} padding-bottom-xl{% endif %}">
	{% if block.heading %}
		<div class="text-xxl text-bold margin-bottom-xs">{{ block.heading }}</div>
	{% endif %}
	
	<div class="">
	{# <div class="col-11@sm col-9@md col-8@lg offset-1@lg col-8@xl max-width-md"> #}
		<div class="text-component line-height-lg v-space-lg">
			{{ block.body }}
		</div>
	</div>
</div>