{# {% set seoTitleGlobal = globalSeo.seoTitle %}
{% set seoDescriptionGlobal = globalSeo.seoDescription %}
{% set seoKeywordsGlobal = globalSeo.seoKeywords %} #}

<!doctype html>
<html lang="en" class="html-wrapper">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script>document.getElementsByTagName("html")[0].className += " js";</script>
	<link id="codyframe" rel="stylesheet" href="{{ siteUrl }}assets/css/style.css">
	<!-- Uncomment the script below if you need to support browsers where CSS Variables have not been implemented (e.g., IE11) -->
	<script>
	if(!('CSS' in window) || !CSS.supports('color', 'var(--color-var)')) {var cfStyle = document.getElementById('codyframe');if(cfStyle) {var href = cfStyle.getAttribute('href');href = href.replace('style.css', 'style-fallback.css');cfStyle.setAttribute('href', href);}}
	</script>
	<title>Get Started | CodyFrame</title>
</head>
<body class="{{ craft.request.getSegment(1) ?: 'home' }}{% block bodyClass %}{% endblock %}">
	<header class="f-header js-f-header position-relative">
		<div class="f-header__mobile-content container max-width-lg">
			<a href="#0" class="f-header__logo">
				<svg id="protospace" data-name="protospace" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384.47 78.7"><title>protospace</title><path class="logo-text" d="M97.31 49.76V67h-3.9v-.24a20.49 20.49 0 00.12-3.06V24.38h3.72a11.57 11.57 0 01.24 2.62 6.3 6.3 0 01-1.08 3.54l.48.18c1.2-2.52 4.8-6.9 10.56-6.9 8.21 0 13.85 7.26 13.85 16.14S115.66 56 107.45 56c-4.45 0-7.86-2.1-10.14-6.24zM117.4 40c0-7.56-4-13.08-10.43-13.08S96.89 33 96.89 40s3.6 13 10.08 13 10.43-5.46 10.43-13zm8.6-15.62h3.72a14 14 0 01.18 2.28 16.21 16.21 0 01-.66 4.62l.42.18c1.44-5.22 5.28-7.68 9.36-7.68a7.31 7.31 0 013.54.66v4.38a5.27 5.27 0 00-4.2-1.56c-5.16 0-8.82 4.68-8.64 13.32v15H126zm17.4 15.54c0-9.66 6.18-16.14 14.7-16.14 8.34 0 14.58 6.48 14.58 16.14 0 10-6.24 16.26-14.58 16.26-8.53 0-14.71-6.24-14.71-16.26zm25.44 0c0-7.62-4.56-12.9-10.74-12.9-6.36 0-10.86 4.92-10.86 12.9s4.5 13 10.86 13c6.17.02 10.73-5.08 10.73-13zm10.5 8.22v-20.7h-5.46v-3.06h.6c4.8 0 6.78-5.34 6.78-8.1h4.08c0 2.58-1.32 7.56-5 7.56v.54h11.4v3.06h-8.7v20.4c0 4.14.78 5.46 3.06 5.46a5.84 5.84 0 003.36-.84l1.68 2.7a8.56 8.56 0 01-4.62 1.32c-6.29 0-7.19-4.48-7.19-8.34zm14.16-8.22c0-9.66 6.18-16.14 14.7-16.14 8.34 0 14.58 6.48 14.58 16.14 0 10-6.24 16.26-14.58 16.26-8.53 0-14.71-6.24-14.71-16.26zm25.44 0c0-7.62-4.56-12.9-10.74-12.9-6.36 0-10.86 4.92-10.86 12.9s4.5 13 10.86 13c6.17.02 10.73-5.08 10.73-13zm33.77-4.68l-6.47-.66c0-3.36-2.28-5.76-6.42-5.76-3.6 0-6.24 1.14-6.24 3.6 0 2 1 3.18 4.79 4l3 .48c7.09 1.32 11.22 4 11.22 9.9 0 6.24-6 9.42-12.59 9.42-7.08 0-12.84-4.2-12.84-12.12l6.6.84c0 4.62 3.72 5.76 6.24 5.76 3.41 0 6.12-1.32 6.12-4 0-2.4-2.34-3.06-6.54-4l-2.16-.3c-9.78-2.16-10.32-6.9-10.32-10.26 0-5.4 4.8-8.88 12.72-8.88 8.18.04 12.88 5.26 12.88 11.98zm10.81 14.52V67h-6.6v-.36a12.56 12.56 0 00.18-2.94V24.38h6.12a9.33 9.33 0 01.3 2.58 6.86 6.86 0 01-1.26 3.72l.78.18c.9-2.1 4.2-7.08 10.32-7.08C281.2 23.78 287 31 287 39.92S281.2 56 273.35 56c-5.22 0-7.86-2.58-9.84-6.24zM280.19 40c0-6.12-2.88-10.38-8.22-10.38-5.94 0-9.18 4.86-9.18 10.38S266 50.3 272 50.3c5.31 0 8.19-4.2 8.19-10.3zm10.86 6.48c0-7 4.26-8.64 13.14-9.6 6.66-.72 6.9-2.46 6.9-2.7v-.24c0-1.5-.72-4.86-6.54-4.86-4.62 0-7.26 2.28-7.26 5.1l-6.84 1.44c0-6.36 4.74-12.48 13.5-12.48 12.48 0 14.1 8.1 14.1 12.12v17.26a8.76 8.76 0 00.36 2.58v.48h-7a4.82 4.82 0 01-.36-2.28 5.69 5.69 0 011.14-3.54l-.78-.18c-1.38 4.8-5.16 6.66-9.48 6.66-5.78 0-10.88-3.72-10.88-9.78zm20.1-1.8v-6.3c-.12 1-.48 3-6.84 3.72-5.1.48-6.48 1.32-6.48 3.9 0 3.3 3.18 4.2 5.1 4.2 3.78-.02 8.22-1.2 8.22-5.54zm26.28-21.24c9.18 0 13.61 5 14.39 10.44l-6.71 1.32c-.48-3.18-3.36-5.58-7.68-5.58-5.28 0-8.16 4.2-8.16 10 0 6.42 2.58 10.44 8.94 10.44 4.8 0 7.14-2.7 7.68-6.24l6.72 1.38c-.84 6-5.46 11-14.4 11-12 0-15.78-7.38-15.78-16.62 0-8.18 3.78-16.16 15-16.16zm40.74 21.46l6.3 1.62c-1 5-5.88 9.66-13.5 9.66-8.7 0-15.42-5.88-15.42-16.62 0-8.46 3.66-16.2 14.64-16.2 11.22 0 14.1 7.68 14.28 13.56 0 1.32-.06 3.66-.54 4.56l-21.54.18c.66 5.94 4.38 8.88 8.46 8.88a7.08 7.08 0 007.32-5.64zm-15.66-8.7l15.66-.12c0-3.42-2.88-7.14-7.92-7.14-4.74 0-7.08 2.52-7.74 7.26z"/><g id="logomark"><circle class="circle-tl" cx="19.68" cy="19.68" r="19.68"/><circle class="circle-tr" cx="59.03" cy="19.68" r="19.68"/><circle class="circle-bl" cx="19.68" cy="59.03" r="19.68""/><circle class="circle-br" cx="59.03" cy="59.03" r="19.68"/><path class="logo-diamond" d="M39.35 19.68A19.68 19.68 0 0059 39.35 19.68 19.68 0 0039.35 59a19.68 19.68 0 00-19.68-19.65 19.68 19.68 0 0019.68-19.67z"/><path class="logo-square" d="M60.53 60.53H18.17V18.18h42.36zm-39.36-3h36.36V21.18H21.17z"/></g></svg>
			</a>
	
			<button class="reset anim-menu-btn js-anim-menu-btn f-header__nav-control js-tab-focus" aria-label="Toggle menu">
				<i class="anim-menu-btn__icon anim-menu-btn__icon--close" aria-hidden="true"></i>
        Menu
			</button>
		</div>
	
		<div class="f-header__nav" role="navigation">
			<div class="f-header__nav-grid justify-between@md container max-width-lg">
				<div class="f-header__nav-logo-wrapper flex-grow flex-basis-0">
					<a href="#0" class="f-header__logo">
						<svg id="protospace" data-name="protospace" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384.47 78.7"><title>protospace</title><path class="logo-text" d="M97.31 49.76V67h-3.9v-.24a20.49 20.49 0 00.12-3.06V24.38h3.72a11.57 11.57 0 01.24 2.62 6.3 6.3 0 01-1.08 3.54l.48.18c1.2-2.52 4.8-6.9 10.56-6.9 8.21 0 13.85 7.26 13.85 16.14S115.66 56 107.45 56c-4.45 0-7.86-2.1-10.14-6.24zM117.4 40c0-7.56-4-13.08-10.43-13.08S96.89 33 96.89 40s3.6 13 10.08 13 10.43-5.46 10.43-13zm8.6-15.62h3.72a14 14 0 01.18 2.28 16.21 16.21 0 01-.66 4.62l.42.18c1.44-5.22 5.28-7.68 9.36-7.68a7.31 7.31 0 013.54.66v4.38a5.27 5.27 0 00-4.2-1.56c-5.16 0-8.82 4.68-8.64 13.32v15H126zm17.4 15.54c0-9.66 6.18-16.14 14.7-16.14 8.34 0 14.58 6.48 14.58 16.14 0 10-6.24 16.26-14.58 16.26-8.53 0-14.71-6.24-14.71-16.26zm25.44 0c0-7.62-4.56-12.9-10.74-12.9-6.36 0-10.86 4.92-10.86 12.9s4.5 13 10.86 13c6.17.02 10.73-5.08 10.73-13zm10.5 8.22v-20.7h-5.46v-3.06h.6c4.8 0 6.78-5.34 6.78-8.1h4.08c0 2.58-1.32 7.56-5 7.56v.54h11.4v3.06h-8.7v20.4c0 4.14.78 5.46 3.06 5.46a5.84 5.84 0 003.36-.84l1.68 2.7a8.56 8.56 0 01-4.62 1.32c-6.29 0-7.19-4.48-7.19-8.34zm14.16-8.22c0-9.66 6.18-16.14 14.7-16.14 8.34 0 14.58 6.48 14.58 16.14 0 10-6.24 16.26-14.58 16.26-8.53 0-14.71-6.24-14.71-16.26zm25.44 0c0-7.62-4.56-12.9-10.74-12.9-6.36 0-10.86 4.92-10.86 12.9s4.5 13 10.86 13c6.17.02 10.73-5.08 10.73-13zm33.77-4.68l-6.47-.66c0-3.36-2.28-5.76-6.42-5.76-3.6 0-6.24 1.14-6.24 3.6 0 2 1 3.18 4.79 4l3 .48c7.09 1.32 11.22 4 11.22 9.9 0 6.24-6 9.42-12.59 9.42-7.08 0-12.84-4.2-12.84-12.12l6.6.84c0 4.62 3.72 5.76 6.24 5.76 3.41 0 6.12-1.32 6.12-4 0-2.4-2.34-3.06-6.54-4l-2.16-.3c-9.78-2.16-10.32-6.9-10.32-10.26 0-5.4 4.8-8.88 12.72-8.88 8.18.04 12.88 5.26 12.88 11.98zm10.81 14.52V67h-6.6v-.36a12.56 12.56 0 00.18-2.94V24.38h6.12a9.33 9.33 0 01.3 2.58 6.86 6.86 0 01-1.26 3.72l.78.18c.9-2.1 4.2-7.08 10.32-7.08C281.2 23.78 287 31 287 39.92S281.2 56 273.35 56c-5.22 0-7.86-2.58-9.84-6.24zM280.19 40c0-6.12-2.88-10.38-8.22-10.38-5.94 0-9.18 4.86-9.18 10.38S266 50.3 272 50.3c5.31 0 8.19-4.2 8.19-10.3zm10.86 6.48c0-7 4.26-8.64 13.14-9.6 6.66-.72 6.9-2.46 6.9-2.7v-.24c0-1.5-.72-4.86-6.54-4.86-4.62 0-7.26 2.28-7.26 5.1l-6.84 1.44c0-6.36 4.74-12.48 13.5-12.48 12.48 0 14.1 8.1 14.1 12.12v17.26a8.76 8.76 0 00.36 2.58v.48h-7a4.82 4.82 0 01-.36-2.28 5.69 5.69 0 011.14-3.54l-.78-.18c-1.38 4.8-5.16 6.66-9.48 6.66-5.78 0-10.88-3.72-10.88-9.78zm20.1-1.8v-6.3c-.12 1-.48 3-6.84 3.72-5.1.48-6.48 1.32-6.48 3.9 0 3.3 3.18 4.2 5.1 4.2 3.78-.02 8.22-1.2 8.22-5.54zm26.28-21.24c9.18 0 13.61 5 14.39 10.44l-6.71 1.32c-.48-3.18-3.36-5.58-7.68-5.58-5.28 0-8.16 4.2-8.16 10 0 6.42 2.58 10.44 8.94 10.44 4.8 0 7.14-2.7 7.68-6.24l6.72 1.38c-.84 6-5.46 11-14.4 11-12 0-15.78-7.38-15.78-16.62 0-8.18 3.78-16.16 15-16.16zm40.74 21.46l6.3 1.62c-1 5-5.88 9.66-13.5 9.66-8.7 0-15.42-5.88-15.42-16.62 0-8.46 3.66-16.2 14.64-16.2 11.22 0 14.1 7.68 14.28 13.56 0 1.32-.06 3.66-.54 4.56l-21.54.18c.66 5.94 4.38 8.88 8.46 8.88a7.08 7.08 0 007.32-5.64zm-15.66-8.7l15.66-.12c0-3.42-2.88-7.14-7.92-7.14-4.74 0-7.08 2.52-7.74 7.26z"/><g id="logomark"><circle class="circle-tl" cx="19.68" cy="19.68" r="19.68"/><circle class="circle-tr" cx="59.03" cy="19.68" r="19.68"/><circle class="circle-bl" cx="19.68" cy="59.03" r="19.68""/><circle class="circle-br" cx="59.03" cy="59.03" r="19.68"/><path class="logo-diamond" d="M39.35 19.68A19.68 19.68 0 0059 39.35 19.68 19.68 0 0039.35 59a19.68 19.68 0 00-19.68-19.65 19.68 19.68 0 0019.68-19.67z"/><path class="logo-square" d="M60.53 60.53H18.17V18.18h42.36zm-39.36-3h36.36V21.18H21.17z"/></g></svg>
					</a>
				</div>
	
				<ul class="f-header__list flex-grow flex-basis-0 justify-end@md">
					<li class="f-header__item"><a href="#0" class="f-header__link">Events</a></li>
					{# <li class="f-header__item"><a href="#0" class="f-header__link">
							<span>Drop-down</span>
							<svg class="f-header__dropdown-icon icon" aria-hidden="true" viewBox="0 0 12 12">
								<path d="M6,9l4-5H2Z" /></svg>
						</a>
	
						<ul class="f-header__dropdown">
							<li><a href="#0" class="f-header__dropdown-link">Sub Nav Item One</a></li>
							<li><a href="#0" class="f-header__dropdown-link">Sub Nav Item Two</a></li>
							<li><a href="#0" class="f-header__dropdown-link">Sub Nav Item Three</a></li>
							<li><a href="#0" class="f-header__dropdown-link">Sub Nav Item Four</a></li>
							<li><a href="#0" class="f-header__dropdown-link">Sub Nav Item Five</a></li>
						</ul>
					</li> #}
					<li class="f-header__item"><a href="#0" class="f-header__link">About</a></li>
          {# <li class="f-header__item"><a href="#0" class="f-header__link" aria-current="page">About</a></li> #}
					<li class="f-header__item"><a href="#0" class="f-header__link">Partners</a></li>
					<li class="f-header__item"><a href="#0" class="f-header__link">Contact</a></li>
				</ul>
			</div>
		</div>
	</header>
	
	<!-- start main content -->
	{% block main %}
		
	{% endblock %}
	<!-- end main content -->
	
	
<script src="{{ siteUrl }}assets/js/scripts.js"></script>
<!-- Email Octopus Signup -->
<script src="https://emailoctopus.com/bundles/emailoctopuslist/js/1.6/form-embed.js"></script>
<!-- / Email Octopus -->
<!-- Fathom - beautiful, simple website analytics -->
{# <script src="https://cdn.usefathom.com/script.js" data-site="FNOJNWDB" defer></script> #}
<!-- / Fathom -->
</body>
</html>